.navbar-custom {
  background-color: #ff8c1a;
}

body {
  margin: 0;
  font-family: 'Georgia', serif;
}

.background {
  background-color: #404e7c;
  height: 100vh;
  display: flex;
  background-size: 40px 40px;  
  justify-content: center;
  align-items: flex-start; 
  padding-top: 80px;       
}