.navbar-custom {
  background-color: #ff8c1a;
}

body {
  margin: 0;
  font-family: 'Georgia', serif;
}

.background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* moves card upward */
  padding-top: 80px;       /* controls how far from top */
  /* peach background with grid */
  background-color: #e6b488;
  background-image:
    linear-gradient(#1f4f5f 1px, transparent 1px),
    linear-gradient(90deg, #1f4f5f 1px, transparent 1px);
  background-size: 40px 40px;
}

.backgroundabout {
  background-color:#404e7c;
  height: 100vh;
  display: flex;
  justify-content: right;
  align-items: flex-start; /* moves card upward */
  padding-top: 80px;       /* controls how far from top */
}

.nav1{
  margin-left:25px;
}

.card {
  width: 600px;
  margin-left:50px;
  margin-right:50px;
  background: #e9e9e9;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.top-bar {
  background-color: #63a9c6;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Arial, sans-serif;
  font-weight: 600;
}

.top-bar {
  background-color: #f49fbc;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Arial, sans-serif;
  font-weight: 600;
}

.icon {
  width: 18px;
  height: 18px;
  background: black;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 
                     68% 57%, 79% 91%, 50% 70%, 
                     21% 91%, 32% 57%, 2% 35%, 
                     39% 35%);
}

.content {
  padding: 40px 30px;
}
.content1 {
}

h1 {
  font-size: 56px;
  font-weight: 400;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 20px 0;
}

h3 {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

p {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  margin-bottom: 25px;
}

button {
  background-color: #f29ab2;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  font-family: Arial, sans-serif;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
